@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --green: #65b867;
  --error: #c92d2e;
  --white: #fef7f7;
  --lightgreen: #84d633;
  --yellow: #f6bd41;
  --dark: #160909;
  --grey: #5f5b5b;
  --lightgrey: #cabfbf;
  --blue: #538ff7;
  --violet: #837fba;
  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 2rem;
  --border-radius: 50px;
  --input-width: 400px;

  --text: #fff;
  --bg: #232323;
  --headerBg: #1c1c1c;
  --headerBoxShadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
}

body.light {
  --text: #000;
  --bg: #f6f7f8;
  --headerBg: #fff;
  --headerBoxShadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
}
