@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
} */

/* body {
  margin: 0;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

:root {
  --green: #65b867;
  --error: #c92d2e;
  --white: #fef7f7;
  --lightgreen: #84d633;
  --yellow: #f6bd41;
  --dark: #160909;
  --grey: #5f5b5b;
  --lightgrey: #cabfbf;
  --blue: #538ff7;
  --violet: #837fba;
  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 2rem;
  --border-radius: 50px;
  --input-width: 400px;

  /* --text: #fff; */
  --bg: #232323;
  --headerBg: #1c1c1c;
  --headerBoxShadow: rgba(0, 0, 0, 0.8) 0 1px 4px;
}

body.light {
  --text: #000;
  --bg: #f6f7f8;
  --headerBg: #fff;
  --headerBoxShadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
}
/* 
p,
span {
  color: var(--dark);
}

h1,
h2,
h3,
h4 {
  color: var(-dark);
  font-weight: lighter;
  line-height: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4,
input,
textarea,
select {
  font-size: 1rem;
}

textarea {
  font-family: "Roboto", sans-serif;
} */
